<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Spring Framework Guru</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="user/header :: header"></th:block> /*/-->
	    <div th:if="${not #lists.isEmpty(datas)}">
	        <h2>급여 목록</h2>
	        <table class="table table-striped">
	            <tr>
	                <th>이름</th>
	                <th>월급</th>
	            </tr>
	            <tr th:each="data : ${datas}">
	                <td th:text="${data.name}"><a href="/users/${data.name}">Name</a></td>
	                <td th:text="${data.salary}">Salary</td>
	            </tr>
	        </table>
	
	    </div>
</div>	
</body>
</html>